/* the css file */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    /* border: 1px solid red; */
    text-align: center;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/* for the screen */
.screen {
    padding: 15vh 10vw;
}

/* The landing page */
.hero-image {
    height: 50vh;
    width: 80vw;
    padding-top: 6vh;
}

.header {
    margin-top: 5vh;
    font-size: 7vh;
    font-weight: 700;
}

.subtitle {
    padding-top: 1vh;
    font-size: 3vh;
    margin-bottom: 5vh;
}

.cta {
    padding: 12px 15px;
    background-color: #000000;
    color: white;
    width: 50vw;
    border-radius: 12px;
    font-size: 18px;
    border: none;
}

.secondary-button {
    padding: 12px 15px;
    background-color: white;
    color: black;
    width: 50vw;
    border-radius: 12px;
    font-size: 18px;
    border: 1px solid;
}


/* signup page */

.center-form {
    display: flex;
    flex-direction: column;
    place-items: center;
    place-content: center;
    height: 100vh;
}

.form h2 {
    margin-bottom: 3vh;
}

.form input {
    padding: 10px 15px;
    border: 1px solid black;
    margin: 1vh;
    border-radius: 12px;
    width: 50vw;
    height: 2.5vh;
    font-size: 16px;
}

.form button {
    margin-top: 3vh;
}