/* the css file */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    /* border: 1px solid red; */
    text-align: center;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/* for the screen */

/* The landing page */
.hero-image {
    height: 50vh;
    width: 80vw;
    padding-top: 6vh;
}

.header {
    margin-top: 5vh;
    font-size: 7vh;
    font-weight: 700;
}

.subtitle {
    padding-top: 1vh;
    font-size: 3vh;
    margin-bottom: 5vh;
}

.cta {
    padding: 12px 15px;
    background-color: #000000;
    color: white;
    width: 50vw;
    border-radius: 12px;
    font-size: 18px;
}