/* the css file */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    /* border: 1px solid red; */
    /* text-align: center; */
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/* for the screen */
.screen {
    padding: 5vh 8vw;
}

.back {
    position: absolute;
    top: 5vh;
    left: 10vw;
}

.forward {
    position: absolute;
    top: 5vh;
    right: 10vw;
}

/* The landing page */
.hero-image {
    height: 45vh;
    width: 80vw;
    /* padding-top: 6vh; */
}

.header {
    margin-top: 2.5vh;
    font-size: 7vh;
    font-weight: 700;
}

.subtitle {
    padding-top: 1vh;
    font-size: 3vh;
    margin-bottom: 3vh;
}

.cta {
    padding: 12px 15px;
    background-color: #000000;
    color: white;
    width: 50vw;
    border-radius: 12px;
    font-size: 18px;
    border: none;
}

.secondary-button {
    padding: 12px 15px;
    background-color: white;
    color: black;
    width: 50vw;
    border-radius: 12px;
    font-size: 18px;
    border: 1px solid;
}


/* signup page */

.center-form {
    text-align: center;
    display: flex;
    flex-direction: column;
    place-items: center;
    place-content: center;
    height: 100vh;
}

.form h2 {
    margin-bottom: 3vh;
}

.form input {
    padding: 10px 15px;
    border: 1px solid black;
    margin: 1vh;
    border-radius: 12px;
    width: 50vw;
    height: 2.5vh;
    font-size: 16px;
}

.form button {
    margin-top: 3vh;
}


/* Home Page */
.small {
    font-size: 15px;
    font-weight: 300;
}

.h4 {
    font-size: 3vh;
    font-weight: bolder;
    padding-top: 5px;
}

.progress-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    margin-top: 3vh;
    border-radius: 12px;
    border: 1px solid black;
}

.progress-section .label {
    padding: 10px 12px;
}

small {
    font-size: 12px;
}

strong {
    font-size: 16px;
}

/* morning reflection */
.feeling-flex {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.center-content {
    padding: 5vh 8vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    place-content: center;
    height: 90vh;
}


/* task form */
.task-input {
    padding: 10px 0px;
    border: none;
    border-bottom: 1px dotted black;
    width: 70vw;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 3vh;
}

.task-input:focus {
    outline: none;
}


/* text editor */
.editor {
    font-size: 16px;
    border: 1px solid black;
    border-radius: 12px;
}